<h1><%= t('site.editing') %> collaborator</h1>

<%= render 'form' %>

<%= link_to '<i class="fa fa-search"></i> '.html_safe + t("site.show"), @collaborator, { :class => 'btn btn-primary' } %> 
<%= back_link collaborators_path %>
