<h1><%= t('site.editing') %> project</h1>

<%= render 'form' %>

<%= link_to '<i class="fa fa-search"></i> '.html_safe + t("site.show"), @project, { :class => 'btn btn-primary' } %> 
<%= back_link projects_path %>
