<h1><%= t('site.editing') %> color</h1>

<%= render 'form' %>

<%= link_to '<i class="fa fa-search"></i> '.html_safe + t("site.show"), @color, { :class => 'btn btn-primary' } %> 
<%= back_link colors_path %>
