<h1><%%= t('site.editing') %> <%= singular_table_name %></h1>

<%%= render 'form' %>

<%%= link_to '<i class="fa fa-search"></i> '.html_safe + t("site.show"), @<%= singular_table_name %>, { :class => 'btn btn-primary' } %> 
<%%= back_link <%= index_helper %>_path %>
