<h1><%= t('site.editing') %> role</h1>

<%= render 'form' %>

<%= link_to '<i class="fa fa-search"></i> '.html_safe + t("site.show"), @role, { :class => 'btn btn-primary' } %> 
<%= back_link roles_path %>
