<h1><%= t('site.editing') %> category</h1>

<%= render 'form' %>

<%= link_to '<i class="fa fa-search"></i> '.html_safe + t("site.show"), @category, { :class => 'btn btn-primary' } %> 
<%= back_link categories_path %>
